@charset "utf-8";

/* CSS Document */

body {
    margin: 0px;
    font-size: 14px;
    line-height: 140%;
}

img,
div,
table,
p,
pre,
blockquote {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
    max-width: 100%;
    overflow: hidden;
}

a:link,
a:visited {
    color: #006699;
    text-decoration: none
}

.block {
    display: block;
}

iframe {
    border: none;
}

a:link,
a:visited,
a.nicovideo:link,
a.dic:link,
a.ext:link,
a.auto:link,
a.nicovideo:visited,
a.dic:visited,
a.ext:visited,
a.auto:visited {
    color: #0066cc;
    text-decoration: none;
}

a.auto-hdn:link,
a.auto-hdn:visited {
    color: #444;
    /* todo: inherit */
    text-decoration: none;
    /* todo: inherit */
}

a:link:hover,
a:visited:hover,
a.nicovideo:link:hover,
a.dic:link:hover,
a.ext:link:hover,
a.auto:link:hover,
a.auto-hdn:link:hover,
a.nicovideo:visited:hover,
a.dic:visited:hover,
a.ext:visited:hover,
a.auto:visited:hover,
a.auto-hdn:visited:hover {
    color: #ff8800;
    text-decoration: underline;
}

a.edit:link,
a.edit:visited,
a.edit:link:hover,
a.edit:visited:hover {
    background: transparent url(/img/ueb.png) left center no-repeat;
    display: inline-block;
    padding-left: 20px;
    margin-left: 4px;
}

a.twitter:link,
a.twitter:visited,
a.twitter:link:hover,
a.twitter:visited:hover {
    background: transparent url(/img/twitter_s_b.png) left center no-repeat;
    display: inline-block;
    padding-left: 19px;
    margin-left: 1px;
}

a.articletab-off:link,
a.articletab-off:visited,
a.articletab-off:hover {
    color: #666666;
    text-decoration: underline;
    font-weight: bolder;
}

a.footermenu:link,
a.footermenu:visited {
    color: #444444;
    text-decoration: none;
}

a.footermenu:hover {
    color: #444444;
    text-decoration: underline;
}

a.white:link,
a.white:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a.white:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

a.button-m:link,
a.button-m:visited {
    text-decoration: none;
}

a.button-m:hover {
    color: white;
    text-decoration: none;
}

/* link icon */

a img.link-icon {
    display: inline-block;
    vertical-align: middle;
}


/*ロゴ*/

h1:after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ".";
}

h1 {
    margin: 5px 0 0 125px;
}

h1 img {
    width: 180px;
    height: 29px;
    margin: 0px 0 8px 3px;
}

/*フローティングメニュー*/

#css {
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 4;
    padding: 0;
}

/*開くメニュー*/

.left_menu {
    padding-right: 2px;
    z-index: 3;
}

.right_random {
    z-index: 2;
}

#dropmenu {
    margin: 0;
    padding: 0;
}

#dropmenu li {
    list-style-type: none;
    position: relative;
    text-align: center;
    float: left;
    margin-top: 0px;
}

#dropmenu li a {
    width: 50px;
    padding: 12px 4px;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #b85f00;
    border-right: 1px solid #b85f00;
    border-bottom: 1px solid #b85f00;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-radius: 0px 0px 8px 8px;
    background: -moz-linear-gradient( top,
    #ee9900 0%,
    #eeaa00);
    background: -webkit-gradient( linear, left top, left bottom,
    from(#ee9900),
    to(#eeaa00));
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px 0px 3px #582b00;
}

#dropmenu li ul li a {
    width: 111px;
    padding: 15px 4px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    border-left: 1px solid #b85f00;
    border-right: 1px solid #b85f00;
    border-bottom: 1px solid #b85f00;
    border-radius: 0;
    background: #eeaa00;
    text-shadow: 0px 0px 3px #3d1e00;
}

#dropmenu li ul li:first-child {
    border-top: 1px solid #b85f00;
}

#dropmenu li ul li:last-child a {
    height: 13px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-radius: 0px 0px 8px 8px;
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    left: 0px;
    right: 0px;
    /* Styles */
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.dropdown {
    padding: 0;
}

/* Active state */

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/*検索窓*/

#searchbox {
    clear: both;
}

dl.search {
    position: relative;
    width: 95%;
    margin: 0px auto;
}

dl.search dt {
    margin-right: 149px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #aaa;
}

dl.search dt input {
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    background: none;
    border: none;
    z-index: 5;
}

dl.search dd {
    position: absolute;
    top: 0;
    right: 0;
}

dl.search dd button {
    display: block;
    width: 50px;
    height: 32px;
    color: #000;
    line-height: 24px;
    text-align: center;
    border: 1px solid #bcbcbc;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background-image: -moz-linear-gradient(top, #fff, #ccc);
    background-image: -ms-linear-gradient(top, #fff, #ccc);
    background-image: -o-linear-gradient(top, #fff, #ccc);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: -webkit-linear-gradient(top, #fff, #ccc);
    background-image: linear-gradient(top, #fff, #ccc);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

dl.search dd button img {
    width: 20px;
    height: 20px;
}

dl.search dd.search_sel {
    position: absolute;
    top: 0;
    right: 49;
    margin-right: 49px;
}

dl.search dd.search_sel select {
    width: 100px;
    height: 32px;
}

/*広告*/

#ad {
    text-align: center;
    width: 94%;
}

#ad img {
    width: 320px;
    height: 50px;
    margin: 2px auto;
}

#ad01 {
    text-align: center;
    width: 100%;
}

#ad02 {
    text-align: center;
    width: 100%;
}

#ad03 {
    text-align: center;
    width: 100%;
}

#ad04 {
    text-align: center;
    width: 100%;
}

/*ようこそ*/

#welcome {
    margin: 2px auto;
    width: 94%;
}

/*扉絵*/

.slider {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
}

.slider li {
    margin: 0 auto;
    padding: 0 auto;
}

.slider li img {
    max-width: 320px;
    max-height: 320px;
}

/*お知らせ*/

#update {
    background: #EEEEEE;
    padding-top: 2px;
    padding-bottom: 2px;
}

.update_title,
.dev-blog {
    width: 94%;
    margin: 2px auto;
}

.update_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.date {
    color: #ababab;
}

.dev-blog {
    margin-bottom: 5px;
}

.readmore {
    float: right;
    margin: 0 0 3px 0;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

/*今週のオススメ記事*/

.title_line {
    width: auto;
    border-top: 1px solid #88c200;
    border-bottom: 1px solid #88c200;
    background-color: #92d000;
    color: #fff;
    text-shadow: 1px 1px 1px #88c200;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
    clear: both;
}

.osusumetitle {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.oslider {
    width: 280px;
    overflow: hidden;
    margin: 0 auto;
}

.oslider li {
    margin: 0 auto;
    padding: 0 auto;
}

#recommen a {}

#recommen {
    margin: 2px auto;
    width: 94%;
}

.recommen_wrapper {
    margin: 5px 0px;
}

.recommen_wrapper img {
    width: 50px;
    float: left;
    margin: 0 10px 7px 0;
}

#recommen2 a {}

#recommen2 {
    margin: 2px auto;
    width: 94%;
}

.recommen2_wrapper {
    margin: 5px 0px;
}

.recommen2_wrapper img {
    width: 50px;
    float: left;
    margin: 0 10px 7px 0;
}

/*最近描かれたお絵カキコ*/

.new_slider {
    width: 280px;
    overflow: hidden;
    margin: 0 auto;
}

.new_slider li {
    margin: 0 auto;
    padding: 0 auto;
    font-size: 12px;
}

.new_slider li img {
    max-width: 100px;
    max-height: 100px;
}

.new_slider li a {
    display: block;
}

/*最近レスが書かれた掲示板*/

#res {
    margin: 2px auto;
    width: 94%;
}

/*メニュー部分*/

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    clear: both;
    margin: 2px 0;
}

#menu {
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    clear: both;
}

#menu h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
    background: linear-gradient(#fff, #e2e2e2);
    border-bottom: 1px solid white;
    border-top: 1px solid #ccc;
    margin: 0px;
}

#menu h2 a {
    font-size: 14px;
    text-overflow: ellipsis;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
    color: #333;
    height: 40px;
    margin: 0;
    display: block;
    padding: 0 0 0 20px;
    overflow: hidden;
    white-space: nowrap;
}

#menu h2 {
    cursor: pointer;
}

#menu div {
    border-top: 1px solid #ccc;
    margin: 0px;
    padding: 5px 8px;
}

#menu .close:after {
    content: url(/img/arrow.png);
    float: right;
    height: 40px;
}

#menu .open:after {
    content: url(/img/arrow2.png) 40px 0px;
    float: right;
    height: 40px;
}

#menu a {
    display: block;
    width: 100%;
    height: 100%;
}

#menu div.panel_top {
    width: 100%;
    border-top: 0;
    border-bottom: 0;
    margin: 0px;
    padding: 2 0 0 8px;
}

#menu div.panel {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 0;
    margin: 0px;
    padding: 5 0 0 8px;
}

/*共有*/

#share {
    margin: 2px auto;
    width: 94%;
}

/*ページ共通*/

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    clear: both;
    margin: 2px 0;
}

.text {
    margin: 2px auto;
    width: 94%;
    line-height: 120%;
}

.big_moji:before {
    content: url(img/cap.png);
}

.big_moji {
    clear: both;
    float: none;
    margin: 5px;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

.mini_moji {
    font-size: 11px;
}

.memo {
    width: 94%;
    padding: 0px 8px 8px 8px;
    margin: 0 auto;
    list-style: none;
    line-height: 130%;
    clear: both;
}

.memo span {
    color: #476b00;
}

.date_mini {
    color: #777;
    font-size: 10px;
    line-height: 10px;
    white-space: nowrap;
}

.record {
    width: 18px;
}

.border {
    border-top: 1px solid #000;
}

/*タイトル*/

.page_title {
    width: auto;
    border-bottom: 3px solid #88c200;
    text-shadow: 1px 1px 1px #cdcdcd;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #000;
    padding: 0 0 4px 6px;
    margin: 4px 0;
}

/*ページャ*/

.back {
    font-weight: bold;
    text-align: right;
    margin: 0 10px 10px 0;
    font-size: 12px;
}

.selected {
    background: #ffb500;
}

.pager {
    clear: both;
    text-align: center;
    margin-bottom: 10px;
}

.pager a {
    padding: 2px 0 1px 0;
    text-align: center;
    border: 1px solid #000000;
    font-size: 12px;
    line-height: 15px;
    margin: 10px -1px;
}

.pager span.current {
    padding: 2px 0 1px 0;
    text-align: center;
    border: 1px solid #000000;
    font-size: 12px;
    line-height: 15px;
    margin: 10px -1px;
    background: #ffe000;
}

.pager p {}

.pager a:hover {
    background: #ffb500;
}

.pager a:active {
    background: #FF8800;
}

/*記事*/

div.article {
    padding: 0 4px 0;
}

div.article ul.dev-blog {
    padding: 0 0 0 10px;
    border-top: #cccccc dotted 1px;
}

div.article sup {
    font-size: 0.7em;
    vertical-align: super;
}

div.article sub {
    font-size: 0.7em;
    vertical-align: sub;
}

div.article ins {
    text-decoration: underline;
}

div.article h2 {
    font-size: 1.20em;
    line-height: 1.25;
    border-bottom: 1px solid #8cc700;
    background: url(/img/disc_l.gif) no-repeat 0px;
    padding-left: 15px;
    margin: 0.2em 1px 0.4em 0;
}

div.article h3 {
    font-size: 1.10em;
    line-height: 1.16;
    border-bottom: 1px solid #8cc700;
    background: url(/img/disc_m.gif) no-repeat 0px;
    padding-left: 15px;
    margin: 0.1em 2px 0.3em 1px;
}

div.article h4 {
    font-size: 1em;
    line-height: 1.12;
    border-bottom: 1px solid #8cc700;
    background: url(/img/disc_s.gif) no-repeat 0px;
    padding-left: 15px;
    font-weight: normal;
    margin: 0.1em 3px 0.3em 2px;
}

div.article h5 {
    font-size: 0.8em;
    line-height: 1.0;
    border-bottom: 1px solid #8cc700;
    background: url(/img/disc_ss.gif) no-repeat 0px;
    padding-left: 12px;
    font-weight: normal;
    margin: 0.1em 4px 0.2em 3px;
}

div.article h6 {
    font-size: 0.8em;
    line-height: 1.0;
    border-bottom: 1px solid #8cc700;
    font-weight: normal;
    margin: 0.1em 5px 0.2em 4px;
}

div.article p {
    line-height: 1.25;
    margin: 0px;
}

div.article hr {
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: #CCCCCC;
    height: 1px;
}

div.article th {
    background-color: #F1F1F1;
    padding: 2px;
    border: 1px solid #D1D1D1;
}

div.article td {
    padding: 5px;
    border: 1px solid #D1D1D1;
}

div.article blockquote {
    border: 1px solid #FFD248;
    background-image: url(/img/quote.gif);
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: 30px;
}

div.article dl,
div.article ul {
    padding: 0.7em 0 0.5em 20px;
    list-style: url(/img/li1.gif) outside;
    line-height: 1.25;
}

div.article ul ul {
    padding: 0.2em 0 0.1em 8px;
    list-style: url(/img/li2.gif) outside;
    line-height: 1.25;
}

div.article ul ul ul {
    padding: 0.2em 0 0.1em 8px;
    list-style: url(/img/li3.gif) outside;
    line-height: 1.25;
}

div.article ol {
    padding: 0.7em 0 0.5em 20px;
    list-style: decimal outside;
    line-height: 1.25;
}

div.article ol ol {
    padding: 0.2em 0 0.1em 8px;
    list-style: upper-roman outside;
    line-height: 1.25;
}

div.article ol ol ol {
    padding: 0.2em 0 0.1em 8px;
    list-style: lower-alpha outside;
    line-height: 1.25;
}

div.article dt {
    margin: 0.2em;
    font-weight: bold;
}

div.article dd {
    margin: 0.2em;
    padding-left: 1em;
}

/*ボタン*/

.button {
    width: 40%;
    margin: 5px 0px 15px 5px;
    float: left;
    padding: 12px 4px;
    line-height: 12px;
    color: #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    border: 1px solid #b85f00;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: -moz-linear-gradient( top,
    #ee9900 0%,
    #eeaa00);
    background: -webkit-gradient( linear, left top, left bottom,
    from(#ee9900),
    to(#eeaa00));
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.4),
    inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px 0px 3px #582b00;
}

.button a {
    color: #fff;
}

/*検索結果*/

.search_table th {
    text-align: left;
    padding: 3px 0px;
    margin: 0;
}

.search_table td {
    padding: 4px 0;
}

.response {
    width: 70px;
}

.search_table tr {
    border-bottom: 1px solid #CDCDCD;
}

.search_table {
    width: 94%;
    margin: 0 auto 10px auto;
    border-collapse: collapse;
    padding: 3px 6px;
}

.watch_check {
    float: left;
}

/*他サイトの検索*/

.other_search_l li,
.other_search_r li {
    font-weight: bold;
    line-height: 10px;
    text-shadow: 1px 1px 1px #cdcdcd;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
    background: linear-gradient(#fff, #e2e2e2);
    border-bottom: 1px solid white;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 0;
    margin: 0px;
    height: 32px;
}

.other_search_l li,
.other_search_r li {}

.other_search_l {
    float: left;
}

.other_search_r {
    float: right;
}

.other_search_l,
.other_search_r {
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}

.other_search_l li a,
.other_search_r li a {
    color: #000;
    display: block;
}

/*投稿部分*/

#bbs_wrapper {
    margin: 0 10px;
}

#bbs_wrapper p {
    margin: 6px 2px;
}

.number,
.name {
    font-weight: bold;
}

.name {
    color: #339900;
    margin-left: 5px;
}

/*ウォッチリスト*/

.watch_delete {
    clear: both;
    text-align: center;
    margin-bottom: 10px;
}

.watch_delete a {
    display: block;
    text-align: center;
    background: #EFEFEF;
    border: 1px solid #000000;
    font-size: 14px;
    line-height: 15px;
    margin: 10px 40px;
    padding: 2px;
    display: block;
}

/*ウォッチリスト-テーブル*/

.watchlist th {
    background: #DEDEDE;
    text-align: left;
    padding: 3px 6px;
    margin: 0;
}

.watchlist td {
    border-bottom: 1px solid #000000;
}

.watchlist {
    width: 94%;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 3px 6px;
}

.watch_check {
    float: left;
}

/*フッター部分*/

#footer {
    width: auto;
    border-top: 1px solid #fe9000;
    border-bottom: 1px solid #fe9000;
    background: #ffb500;
    text-align: center;
    text-shadow: #ffb500 1px 1px 1px;
}

.footer_menu {
    color: #fe9000;
    font-size: 14px;
    text-align: center;
}

.footer_menu a {
    line-height: 100%;
}

#copyright {
    font-size: 10px;
    color: #333;
    text-align: center;
}

.inlineblock {
    margin: 4px 0;
    border-right: 1px solid #fe9000;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
}

.inlineblock2 {
    margin: 4px 0;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
}

.inlineblock3 {
    display: inline-block;
}

.res_button {
    width: 96%;
    margin: 8px 0px;
    padding: 8px 0px;
    font-size: 1.2em;
    border-radius: 8px;
}

.oe_size_button {
    font-size: 1.1em;
    border-radius: 3px;
}
